---
---

<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div
        class="max-w-3xl mx-auto text-left p-6 rounded-md shadow-xl dark:shadow-none dark:border dark:border-slate-600">

        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Want to become a blockchain expert?</h2>
        <p class="mb-8 lg:mb-8 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Get my free guide delivered to your inbox!</p>

        <form method="post" action="https://sendfox.com/form/1r6j7z/m26507" class="sendfox-form space-y-8" id="m26507" data-async="true" data-recaptcha="true">
          <p><label for="sendfox_form_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">First Name: </label><input type="text" id="sendfox_form_name" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="First Name" name="first_name" required /></p>
          <p><label for="sendfox_form_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email: </label><input type="email" id="sendfox_form_email" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Email" name="email" required /></p>
          <!-- no botz please -->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
          <p><button type="submit" class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Sign Up</button></p>
          </form>
          <script src="https://sendfox.com/js/form.js"></script>
                
        
      </div>
    </div>
  </div>
</section>