---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Blockchain Development",
    description:
      "Using Solidity to write and audit smart contracts. Creating NFT's with Solana and Rust.",
    icon: "bx:bxs-bitcoin",
  },
  {
    title: "Freelance Web Development",
    description:
      "Working with businesses to build websites that generate huge amounts of leads. Specifically working with Headless WordPress, React and good ol' HTML, CSS and JS",
    icon: "simple-icons:bitcoin",
  },
  {
    title: "Dynamics 365 Development",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
    icon: "simple-icons:bitcoin",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    What i'm working on
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    I work with a lot of different technologies on a number of projects. Here's a few i'm using at the moment.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
